<ion-header>

  <div class="title">
  <ion-icon (click)="back()" name="arrow-back-outline"></ion-icon>
  <h1>Chủ đề: Dịch Bệnh</h1>
  </div>
</ion-header>
<ion-content>
  <div class="content">
    <div class="img-content">
      <img src="https://tse4.mm.bing.net/th?id=OIP.M2fRcO0Eu_BcBijulh7yYgHaEf&pid=Api&P=0&h=180" alt="">
    </div>
    <div class="text-content">
      <h1>Dịch Bệnh</h1>
      <p>Thông điệp này được Bộ Y tế khuyến cáo thực hiện tại cơ sở khám chữa bệnh, trên các phương tiện công cộng và địa điểm bắt buộc người dân cần đeo khẩu trang, khử khuẩn, nhất là vệ sinh tay.

        Từ đầu tháng 4 đến nay, số ca mắc mới COVID-19 tại nước ta có xu hướng tăng. Đặc biệt, trong vài ngày gần đây, con số này liên tục tăng, lên trên 100 và đến hơn 260 ca/ngày. Đến ngày 13/4, cả nước ghi nhận gần 500 ca mắc. Số mắc tập trung chủ yếu ở khu vực phía Bắc, trong đó Hà Nội tiếp tục là địa phương có số ca mắc nhiều nhất (135 ca).
        
        Trước diễn biến dịch COVID-19 có xu hướng gia tăng, ngày 12/4, Bộ Y tế có công văn gửi UBND các tỉnh, thành phố trực thuộc Trung ương đề nghị tăng cường công tác phòng, chống dịch.
        
        Bộ Y tế đề nghị các địa phương chủ động công tác giám sát, theo dõi chặt chẽ tình hình dịch bệnh trên địa bàn; chuẩn bị sẵn sàng ứng phó với các tình huống dịch bệnh có thể xảy ra. Đồng thời, tăng cường triển khai các biện pháp phòng, chống dịch COVID-19 tại các cơ sở giáo dục, giám sát tại các cửa khẩu, trong các cơ sở y tế và tại cộng đồng để phát hiện sớm và xử lý kịp thời, không để dịch bệnh lây lan ra cộng đồng; phối hợp chặt chẽ với các đơn vị của Bộ Y tế để chủ động phát hiện sớm các biến thể mới của SARS-CoV-2.
        
        GS.TS. Phan Trọng Lân, Cục trưởng Cục Y tế dự phòng (Bộ Y tế) cho biết, WHO đánh giá, những người đã tiêm vaccine COVID-19, hoặc đã từng nhiễm bệnh đều đã có miễn dịch. Đây chính là yếu tố khi mắc bệnh, người bệnh thường có biểu hiện nhẹ hơn, ít hoặc không có triệu chứng.</p>
    </div>

  </div>
</ion-content>