<ion-content>
  <ion-header>
    <div class="header-forgot">
      <!-- 233 -->
      <div class="backbtn" (click)="backtologin()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <div class="title">
        <h1>QUÊN MẬT KHẨU</h1>
      </div>
    </div>
    <div class="child-forgot">
      <div class="img-pass">
        <img src="../../assets/img/Screenshot_2024-08-31_084833-removebg-preview (1).png" alt="">
      </div>
      <div class="content">
        <p>Bạn đang gặp sự cố khi đăng nhập</p>
        <p class="text-d">Hãy nhập số điện thoại,chúng tôi sẽ gửi link để reset mật khẩu cho bạn</p>
        <form action="" [formGroup]="forminfo">
          <ion-input formControlName="phone"  type="text" placeholder="Số điện thoại"></ion-input>
          <ion-button (click)="resetpass()" fill="clear">Đặt lại mật khẩu</ion-button>
        </form>
      </div>
    </div>
  </ion-header>

</ion-content>