
<ion-content>
  <ion-header>
    <div class="header-regis">
      <!-- 233 -->
      <div class="backbtn" (click)="backtologin()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </div>
      <div class="title">
        <h1>ĐĂNG KÝ TÀI KHOẢN</h1>
      </div>
    </div>
  
  
  </ion-header>
  <div class="regisform">
    <form action="" [formGroup]="forminfo">
      <ion-input type="text" formControlName="phone" placeholder="Số điện thoại"></ion-input>
      <ion-input type="text" formControlName="fullname" placeholder="Tên đầy đủ"></ion-input>
  
        <ion-input placeholder="Mật khẩu" formControlName="password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <ion-input id="confirmpass"  placeholder="Nhập lại mật khẩu">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      <input class="btnregis" (click)="regis()" type="submit" value="ĐĂNG KÝ">
  </form>
  </div>
</ion-content>

