*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#text{
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    .title{
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 50px;
        max-height: 100px;
        background-color: #d33333;
        border-radius: 0 0 5px 5px;
        align-items: center;
        display: flex;
        justify-content: center;
        h1{
            text-align: center;
            padding:  0 0 0 10px;
        font-size: 30px;
        color: #fff;

        }
    }
    .content{
        margin: 10% 0 0 0;
        padding: 10px;
        ion-card{
            padding: 10px;
            margin: 10px;
        }

    }

}