<div id="text">
  <div class="title">
    <h1>Kho tài liệu</h1>
  </div>
  <div class="content">
    <ion-card (click)="gotodetail()" *ngFor="let cards of datainfo">
      <ion-card-header>
        <ion-card-title>{{cards.type}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{cards.title}}
        <ion-button fill="clear"><a target="_blank" href="{{cards.adress}}">
          <ion-icon name="link"></ion-icon>
        </a></ion-button>
      </ion-card-content>
    

    </ion-card>
  </div>

</div>